project-1/Project1_xsd_1.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="automotive-data" type="automotive-dataType"/>

  <xs:complexType name="automotive-dataType">
    <xs:sequence>
      <xs:element name="manufacturers-data" type="manufacturers-dataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="manufacturers-dataType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="region" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="country" type="xs:string"/>
      <xs:element name="carModels" type="carModelsType"/>
      <xs:element name="cars" type="carsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carModelsType">
    <xs:sequence>
      <xs:element name="carModel" type="carModelType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carsType">
    <xs:sequence>
      <xs:element name="car" type="carType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carModelType">
    <xs:sequence>
      <xs:element name="cid" type="xs:string"/>
      <xs:element name="cname" type="xs:string"/>
      <xs:element name="year" type="xs:string"/>
      <xs:element name="usdPrice" type="xs:string"/>
      <xs:element name="cadPrice" type="xs:string"/>
      <xs:element name="euroPrice" type="xs:string"/>
      <xs:element name="poundPrice" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carType">
    <xs:sequence>
      <xs:element name="vin" type="xs:string"/>
      <xs:element name="color" type="xs:string"/>
      <xs:element name="buyer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
